
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    
    margin: 0;
    font-family: 'Poppins';
   
    
}
#bt-main-form-lb{
  float:left;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#brand-logo-text{
  color:black;
  display:grid;
  place-items: start;
  margin-left: 20px;
  font-size: 24px;
}

.logout-btn a{
  color:#2f4050;
  
  
}
.logout-btn:hover{
  background-color:#2f4050;
  
}
.logout-btn a:hover{
  color:whitesmoke;
  
  
}
#Side-nav-ul{
  padding: 2em;
  
}

#dashboard-row{
  display: flex;
  
}
#navbar{
  box-shadow: #2f4050;
}

#edit-btn{
  float:right;
}
#sidenav {
  min-height: 100vh;
  background-color: #2f4050;
  overflow-x: hidden;
  padding-top: 5em;

}

#sidebar-li{
  
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin:0%;
  color:whitesmoke;
  cursor:pointer

}
#sidebar-li-icon{
  flex:30%;
  display:grid;
  place-items: center;   
}
#sidebar-li-tag{
  flex:70%;
  display:grid;
  place-items: start;

   
}

#sidebar-li:hover{
  border:1px solid whitesmoke;
}
 
.dashboard-container{
  display:block;
  margin:0 auto;
}
.welcome-msg{
  padding-top:25px;
  padding-bottom: 25px;;
}
#container-1{
  text-align: center;
  vertical-align: middle;
}
 
#start-btn{
  height: 50px;
  color:#2f4050;
  width:300px;
  background-color: yellowgreen;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  margin-top: 20px;
  cursor: pointer;

}
.main-dashboard-container {
  height:80vh;
  overflow:hidden;
  overflow-y: scroll;
 }
 #home-p{
   font-size: 24px;
 }
 #home-p-2{
  font-size: 24px;
  margin-left:50px;
  color:whitesmoke;
 }
.section-4{
  background-color: #2f4050;
 }
#image-2{
  margin-top:15px;
}
.form-body-login{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  background-color: #2f4050;
}
#section-1{
   margin-top: 50px;
 }
#form-options{
  margin-right: 20px;

}

#section-2{
  background-color:#2f4050;
  height:300px;
  color:whitesmoke;
  text-align: center;
}

#send-btn{
  width:300px;
  height:50px;
  font-size: 1.2em;
  color:whitesmoke;
  background-color: #2f4050;
  border:1px solid whitesmoke;
  border-radius:2em;
}
#s-1{
  
  height: 100%;
}
#col-head{
  font-size: 18px;
  text-align: left;
  color: #75759c
}
#col-head-2{
  font-size: 18px;
  text-align: center;
  color: #75759c
}
.welcome-msg-username{
  font-size: 18px;
  font-weight: bold;
  color: #75759c
}
#form-boot-con{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(90%2c 173%2c 215%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c381.303C74.36%2c371.737%2c156.743%2c381.897%2c215.519%2c335.354C273.003%2c289.834%2c278.429%2c207.656%2c305.396%2c139.47C330.774%2c75.302%2c367.09%2c15.9%2c369.137%2c-53.074C371.439%2c-130.643%2c366.675%2c-215.092%2c317.707%2c-275.295C268.354%2c-335.971%2c187.12%2c-364.03%2c109.362%2c-372.453C38.338%2c-380.146%2c-23.297%2c-330.608%2c-93.926%2c-319.882C-180.06%2c-306.802%2c-284.233%2c-360.572%2c-349.428%2c-302.781C-413.09%2c-246.348%2c-389.048%2c-141.307%2c-391.317%2c-56.263C-393.345%2c19.746%2c-383.962%2c92.512%2c-361.917%2c165.282C-336.825%2c248.11%2c-328.682%2c351.448%2c-254.368%2c395.804C-179.936%2c440.231%2c-85.974%2c392.364%2c0%2c381.303' fill='%232e8dbd'%3e%3c/path%3e%3cpath d='M1440 1094.118C1573.095 1105.356 1715.375 1235.525 1826.721 1161.75 1938.563 1087.646 1870.712 903.783 1917.2060000000001 777.933 1958.708 665.594 2101.741 585.837 2083.195 467.522 2064.616 348.993 1916.93 304.764 1830.066 222.00599999999997 1753.146 148.72199999999998 1705.225 33.27200000000005 1601.818 8.899000000000001 1498.986-15.339000000000055 1407.835 76.707 1304.374 98.101 1187.946 122.17599999999999 1048.864 65.76600000000002 957.7049999999999 142.089 866.535 218.421 872.683 358.327 853.421 475.663 833.777 595.326 800.983 718.771 844.453 831.977 889.024 948.048 979.29 1049.715 1093.088 1099.8049999999998 1201.129 1147.3609999999999 1322.375 1084.1860000000001 1440 1094.118' fill='%2393c9e5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#dash-boot-con{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(90%2c 173%2c 215%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c381.303C74.36%2c371.737%2c156.743%2c381.897%2c215.519%2c335.354C273.003%2c289.834%2c278.429%2c207.656%2c305.396%2c139.47C330.774%2c75.302%2c367.09%2c15.9%2c369.137%2c-53.074C371.439%2c-130.643%2c366.675%2c-215.092%2c317.707%2c-275.295C268.354%2c-335.971%2c187.12%2c-364.03%2c109.362%2c-372.453C38.338%2c-380.146%2c-23.297%2c-330.608%2c-93.926%2c-319.882C-180.06%2c-306.802%2c-284.233%2c-360.572%2c-349.428%2c-302.781C-413.09%2c-246.348%2c-389.048%2c-141.307%2c-391.317%2c-56.263C-393.345%2c19.746%2c-383.962%2c92.512%2c-361.917%2c165.282C-336.825%2c248.11%2c-328.682%2c351.448%2c-254.368%2c395.804C-179.936%2c440.231%2c-85.974%2c392.364%2c0%2c381.303' fill='%232e8dbd'%3e%3c/path%3e%3cpath d='M1440 1094.118C1573.095 1105.356 1715.375 1235.525 1826.721 1161.75 1938.563 1087.646 1870.712 903.783 1917.2060000000001 777.933 1958.708 665.594 2101.741 585.837 2083.195 467.522 2064.616 348.993 1916.93 304.764 1830.066 222.00599999999997 1753.146 148.72199999999998 1705.225 33.27200000000005 1601.818 8.899000000000001 1498.986-15.339000000000055 1407.835 76.707 1304.374 98.101 1187.946 122.17599999999999 1048.864 65.76600000000002 957.7049999999999 142.089 866.535 218.421 872.683 358.327 853.421 475.663 833.777 595.326 800.983 718.771 844.453 831.977 889.024 948.048 979.29 1049.715 1093.088 1099.8049999999998 1201.129 1147.3609999999999 1322.375 1084.1860000000001 1440 1094.118' fill='%2393c9e5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  background-repeat: no-repeat;
  background-size: cover;
}

  

.dashboard-title{
  font-size: 18px;
  font-weight: bold;
  color: #75759c;
  text-align:left;
  margin-bottom: 25px;
  
}
.dashboard-title-container{
  
  width:90%;
  margin-left:50px;
}
#s-2{
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-3{ 
  height:100%;
}
#s-4{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 300px
}
.content {
  width: 500px;

 
}
.style {
  font-weight:bold;
  font-style: normal;
}
.password-icon{
  position: absolute;
  right:25px;
  top:20px;
  font-size:18px;
  cursor: pointer;
}
.content-2 {
  width: 90%;


 
}
#form-l{
  margin-right:5px;
}

.f{
  text-decoration: none;
}

